*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.2);
    overflow: hidden;
    border-radius: 12px;
    background-color: rgb(40, 39, 39);
}
form input{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: aliceblue;
    background-color: black;
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    flex: 0  0 22%;
    margin: 5px 0;
    border: 1px solid black;
    width: 60px;
    height: 52px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.btn-yellow{
    background-color: rgb(221, 152, 14);
    color:aliceblue
}
.btn-grey{
    background-color: aliceblue;
}
.btn-equal{
    background-color: green;

}
.btn-clear{
    background-color: rgb(188, 39, 39);
}